*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    color:white;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    
    background: linear-gradient(90deg, rgba(40,227,185,0.8297443977591037) 0%, rgba(121,9,119,0.5076155462184874) 57%, rgba(255,248,0,0.36755952380952384) 100%);
    width: 100%;
    opacity: 90%;
    filter: blur(500%);
}
.container{
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1.1rem;
    /* align-items: center; */
    width: 40%;
    height: fit-content;
    box-sizing: border-box;
    padding: 1.1rem 3rem;

   
    background-color: rgb(94, 18, 124);

}

.password-text{
    width: 100%;
    height: 2rem;
    border:1px solid yellow;
   
    color: yellow;
    
    background-color: transparent;
}

.password-display{
    display: flex;
   
  
}
::placeholder{
    padding: 2px 5px;
    color: white;

}
.checkbox input{
    appearance: none;
    width: 25px;
    height: 25px;
    border:2px solid cyan;
    
}
.checkbox input:checked{
    background-color: cyan;
   
   
}
.checkbox input:checked::before{
    color:brown;
    font-size: 25px;
    font-weight: 600;
}

.checkbox input::before{
    content: "🗸";
    position: absolute;
  
  
    color: transparent;
    /* font-size: 0px; */
   
    transform: translateY(-20%) translateX(10%);
}





.generate-btn{
    width: 100%;
    padding: 1em;
    border:none;
    border-bottom:3px solid rgb(46, 207, 22);
    background-color: yellow;
    border-radius: 0.27rem;
}

.svg{
    background-color: white;
}